body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 20px 0;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Skapar en responsiv grid-layout */
    grid-gap: 15px;
    padding: 20px 0;
}

.video-gallery .video-container {
    position: relative;
    width: 480px; /* eller någon annan storlek du föredrar */
    height: 480px; /* aspektförhållande 1:1 */
    margin: auto; /* centrera containern */
    overflow: hidden; /* dölj delar av videon som går utanför containern */
}

.video-gallery .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover; /* täck hela området av containern, kan klippa videon */
}
footer {
    text-align: center;
    padding: 20px 0;
}

.description {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description h2 {
    margin-top: 0;
}
