body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 20px 0;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumner */
    grid-gap: 15px;
    padding: 20px 0;
}

.video-container {
    position: relative;
    overflow: hidden; /* Döljer överflödig innehåll */
    padding-top: 100%; /* Ger en 1:1 aspektförhållande */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
footer {
    text-align: center;
    padding: 20px 0;
}

.description {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description h2 {
    margin-top: 0;
}



.info-box {
    background-color: #d3d3d3; /* Ljusgrå färg */
    border-radius: 15px; /* Runda hörn */
    color: white; /* Vit text */
    padding: 20px;
    position: absolute; /* Gör så att rutan kan positioneras ovanpå andra element */
    top: 20px; /* Justera dessa värden efter behov för att positionera rutan */
    left: 20px;
    z-index: 10; /* Sätter rutan över andra element */
    width: calc(100% - 40px); /* Full bredd med marginal */
    box-sizing: border-box; /* Inkluderar padding i bredden */
    cursor: pointer; /* Visar en pekare för att indikera att det går att interagera */
    transition: all 0.3s ease; /* Gör att övergångarna blir mjuka */
    display: flex; /* Använder flexbox för att centrera innehållet vertikalt */
    align-items: center; /* Centrerar innehållet vertikalt */
    justify-content: center; /* Centrerar innehållet horisontellt */
    max-height: 60px; /* Begränsar höjden initialt */
    overflow: hidden; /* Gömmer innehåll som inte får plats */
}

.info-box p {
    color: white; /* Vit text */
    margin: 0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none; /* Döljer innehållet från början */
}

.expanded {
    max-height: none; /* Tillåter rutan att expandera helt */
}
